# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ai_env/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other temporary files
*.tmp
*.bak
*.swp

# Ignore large CSV files
data
